@charset "utf-8" ;


html {
	font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}
body {
	color: #808080;
	font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
	font-size: 1.4rem;
	line-height: 1.5;
	vertical-align: middle;
}
*,
*::before,
*::after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active{
	color: #808080;
	text-decoration: none;
}


/** clearfix
**********************************************************************/
.showcase-1::after,
.showcase-3::after,
.showbook .bookcard::after{
	content:" ";
	display: block;
	clear: both;
}


/** TYPOGRAPHY,Parts
**********************************************************************/
main h1,
main h2,
main h3{font-family: serif;}

main h1{
	color: #313035;
	font-size: 3.6rem;
	line-height: 2.0;
}
main h2{
	border-bottom: 4px solid #808080;
	color: #3E3D43;
	font-size: 2.8rem;
	line-height: 2.0;
}
main h3{
	border-bottom: 4px solid #ddd;
	color: #3E3D43;
	font-size: 2.1rem;
	line-height: 2.0;
}


b,
cite{
	display: block;
	font-style: normal;
	font-weight: normal;
}


ul,
ol,
li{
	list-style: none;
}
ul,ol,li,
dl,dt,dd{
	margin: 0;
	padding: 0;
}


li.active,
li.active a,
a.active,
span.active,
#tab-menu div.active{
	color: #E53B5B;
}


a.btn{
	background: #DDD;
	color: #3E3D43;
	display: block;
	font-size: 1.8rem;
	line-height: 3.2;
	text-align: center;
}
a.btn:hover{
	background: #BDBCB5;
}


.read-more{
	background: #F2F2F2;
	display: block;
	line-height: 2.5;
	text-align: center;
}
.read-more:hover{
	background: #DDD;
}
.read-more-2{
	border-top: 1px solid #bdbcb5;
	line-height: 2.0;
}


.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.text-hidden{
	display: none;
}
.text-bn{
	border-bottom: none;
	margin-bottom: 0;
}


#sort-nav {
	color: #999;
	margin-bottom: 5rem;
}
#sort-nav span{
	margin-left:2.0rem;
	margin-right:2.0rem;
}




/** LAYOUT
**********************************************************************/
.container,
main{
	margin:0 auto;
	max-width: 1280px;
}
main{
	margin-bottom:10rem;
}

.pure-g>div,
.pure-g>section{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding:0 15px;
}


.showcase-1{
	background: #f7f5f0;
}
.showcase-1>a{
	display: block;
	float: right;
	height:auto;
  margin-left:15px;
	text-align:center;
	vertical-align:middle;
	width:90px;
}
.showcase-1>a img {
	height:auto;
	vertical-align:middle;
	width:84px;
}

.showcase-1>dl{
	float: left;
	margin-right:-105px;
	margin-bottom:1.5rem;
	width:100%;
}
.showcase-1>dl dt,
.showcase-1>dl dd{
	color: #808080;
	padding-right:105px;
	white-space:normal;
}
.showcase-1>dl dt{
	font-size: 1.8rem;
}
.showcase-1>dl dt a,
.showcase-1>dl dd a{
	color: #3E3D43;
}

.showcase-2{
	margin-bottom: 2rem;
}
.showcase-2>a{
	display: block;
	text-align: center;
}
.showcase-2>a cite{
	color: #3E3D43;
	font-size: 1.8rem;
}

.showcase-3{
	border-bottom: 1px solid #bdbcb5;
	margin-bottom: 3rem;
}
.showcase-3>a,
.showcase-3>dl{
	float: left;
}
.showcase-3>a{
	display: block;
	margin-bottom: 15px;
	margin-right:15px;
	width:90px;
}
.showcase-3>a img{
	height:auto;
	width:84px;
}
.showcase-3>dl{
	margin-left:-105px;
	padding-left:0;
	width:100%;
}
.showcase-3>dl dt,
.showcase-3>dl dd{
	padding-left:105px;
	white-space:normal;
}
.showcase-3>dl dt{
	color: #3E3D43;
	font-size: 1.8rem;
	margin-bottom: 1.0rem;
}
.showcase-3>dl dd{
	color: #808080;
	font-size: 1.4rem;
	line-height: 2.0;
}
.showcase-3>dl dt a,
.showcase-3>dl dd a{
	color: #3E3D43;
}

.indexcase-1 li{
	border-bottom: 1px solid #bdbdbd;
	font-size: 1.8rem;
}
.indexcase-1 li a{
	color: #3E3D43;
}

.indexcase-2 li cite{
	display: inline;
}
.indexcase-2 li cite a{
	color: #3E3D43;
	font-size: 1.8rem;
}
.indexcase-2 li p{
	margin: 0 0 2.5rem;
	padding: 0;
}




/** header
**********************************************************************/
header .container{
	position: relative;
}

#siteLogo{
	font-family:PingFangSC-Regular,Simsun,'Helvetica Neue Light',serif;
	font-size: 1.4rem;
	vertical-align: bottom;
	margin: 15px 0;
}
#siteLogo::before{
	background: #E53B5B;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	content: " ";
	display: inline-block;
	height: 52px;
	margin-right: 5px;
	width: 68px;
	vertical-align: bottom;
}

header form{
	height:52px;
	margin: 27px 0 0;
	vertical-align: middle;
}
header form input,
header form button{
	float: left;
	margin: 0;
	vertical-align: middle;
}
header .search-input{
	border: 1px solid #dddddd;
	font-size: 1.4rem;
	height:40px;
	line-height: 40px;
	margin-left:33%;
	padding-left:1.0rem;
	width:60%;
}
header .search-button{
	background: #E53B5B;
	border: none;
	color: #FFF;
	font-size: 1.6rem;
	height:40px;
	line-height: 1.6;
	width:44px;
}

header ul{
/*	background: #EEE;*/
	height:52px;
	margin: 27px 0 0;
}
header li{
	display: inline-block;
	line-height: 40px;
	text-align: center;
}
header li a{
	background: #FFF;
	border: 1px solid #dddddd;
	color: #313035;
	display: block;
	font-size: 1.4rem;
	line-height: 40px;
	width:7.0rem;
}
header li a:hover{
	background: #ddd;
}



/** nav
**********************************************************************/
.global-nav-1,
.global-nav-1 li{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}


.global{
	background: #313035;
}
.global .container{
	position:relative;
}

.global li,
.global a{
	color: #FFF;
	font-size: 1.6rem;
}
.global li a:hover{
	background: #e53b5b;
}



/** global-nav-1
**********************************************************************/
.global-nav-1>li{
	display: inline-block;
	line-height: 2.5;
	height: 40px;
	position: relative;
}
.global-nav-1>li a{
	display: block;
	padding:0 4.2rem;
}
.global-nav-1>li:hover,
.global-nav-1>li a:hover{
	background: #3E3D43;
}
.global-nav-1>li:first-child{
	padding:0 3.2rem 0 0;
}
.global-nav-1>li:first-child i{
	margin-right: 0.7rem;
}
.global-nav-1>li.active{
	background: #e53b5b;
}
.global-nav-1>li.active a{
	color:#fff;
}

.global-nav-1 .category-list{
	background: #313035;
	display: none;
	position: absolute;
	top: 42px;
	z-index: 1001;
	width: 500px;
}
.global-nav-1 .category-list li{
	display: inline;
}
.global-nav-1 .category-list li a{
	display: inline;
	font-size: 1.4rem;
	padding: 1rem 3rem;
}

.global-nav-1 .category-list li:hover,
.global-nav-1 .category-list li a:hover{
  background:#e53b5b;
}



/** global-nav-2-fixed
**********************************************************************/
.global-nav-2-fixed{
	display: none;
}

.global-nav-2-fixed div,
.global-nav-2-fixed div p,
.global-nav-2-fixed div ul{
	display: inline-block;
}

.group-nav01,
.group-nav02,
.logo{
	margin: 0;
	padding: 0;
}

.group-nav01{
	float: left;
}
.group-nav02{
	float: right;
	width: 40%;
}


.logo{
/*	background:#b2b2b2;*/
	font-family:serif;
	position: relative;
	top: 6px;
	vertical-align:top;
	width: 120px;
}
.logo a{
	font-size: 1.0rem;
  line-height:1;
}
.logo a::before{
	background: #E53B5B;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	content: " ";
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	width: 36px;
}


.group-nav01 li{
	font-size: 1.4rem;
	height: 45px;
	line-height: 46px;
}
.group-nav01 li a{
	font-size: 1.4rem;
	padding: 0 2.0rem 0;
}
.group-nav01 li,
.group-nav01 li a{
	display:inline-block;
	vertical-align:top;
}
.group-nav01 li.active {
	background:#e53b5b;
}
.group-nav01 li.active a{
	color:#fff;
}
.group-nav01 li a:hover{
	background:rgba(255,255,255,0.2);
	color:#fff;
}


.group-nav02 div{
	float: right;
}

.login-mypage{
	padding: 0 0 0 2.0rem;
	text-align: right;
}
.login-mypage i{
	margin-right: 0.75rem;
}
.login-mypage a{
  display:block;
	font-size: 1.4rem;
	line-height: 46px;
}

.login-link{
	display:inline-block;
	margin-left: 10px;
	position:relative;
}
.login-link a{
	display:block;
	float:left;
	font-size: 1.4rem;
	line-height: 46px;
	padding: 0 2.0rem 0;
}
.login-link::before,
.login-link::after{
	background:#e53b5b;
	content:"";
	display:inline-block;
	height:25px;
	position:absolute;
	top:10px;
	width:1px;
}
.login-link::before{
	left:0;
}
.login-link::after{
	right:0;
}


.login-mypage a:hover,
.login-link a:hover{
	background:rgba(255,255,255,0.2);
	color:#fff;
}

.fixed{
	position: fixed;
	top: 0;
	left: 0;
	overflow:hidden;
	z-index:1001;
	width: 100%;
}
.fixed .global-nav-1{
	display: none;
}
.fixed .global-nav-2-fixed{
	display: block;
}




/** TAB
**********************************************************************/

#tab-menu div,
#tab-box .pure-g div {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding:0 1%;
}

#tab-menu {
	font-family: serif;
	margin-bottom: 35px;
}
#tab-menu div {
	color: #B3B3B3;
	font-family: serif;
	font-size: 2.4rem;
	line-height: 1.5;
	text-align: center;
}
#tab-menu div p{
	border-bottom: 5px solid;
	cursor:pointer;
}
#tab-menu div.active p{
	border-bottom-color: #e53b5b;
	position: relative;
}
#tab-menu div.active p::after {
	border: 12px solid transparent;
	border-top: 12px solid #e53b5b;
	bottom: -24px;
	content: " ";
	display: block;
	height: 0;
	margin-right: -12px;
	position: absolute;
	right: 50%;
	width: 0;
}

#tab-box {
	margin-bottom: 10rem;
}
#tab-box section {
	display: none;
}
#tab-box section.active {
	display: block;
}

#tab-box .pure-g div>a{
	border-bottom: 1px solid #ddd;
	border-top: 4px solid #ddd;
	display: block;
	text-align: center;
	margin: 0 auto;
}
#tab-box .pure-g div>a img{
	height: auto;
	margin: 28px auto 18px;
	width: 114px;
}
#tab-box .pure-g div cite{
	color: #3e3d43;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -webkit-flex-box;
	display: -moz-flex-box;
	display: -ms-flex-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap: wrap;
	font-size: 1.8rem;
	margin-bottom: 18px;
}
#tab-box .pure-g div dl{
	margin-bottom: 2rem;
	margin-top: 2rem;
}
#tab-box .pure-g div dt,
#tab-box .pure-g div dd{
	color: #999;
	line-height: 1.8;
}
#tab-box .pure-g div dd a{
	color: #808080;
}




/** category -分类-
**********************************************************************/
.category #tab-box{
	margin: 0 auto 10rem;
	width: 60%;
}
.category #tab-box h3{
	border-bottom: 4px solid #ddd;
	color: #3e3d43;
	font-family: serif;
	font-size: 2.4rem;
	line-height: 2.0;
}
.category #tab-box h3 span{
	font-size: 1.8rem;
}
.category #tab-box ul,
.category #tab-box li{
	font-size: 0;
}
.category #tab-box li{
	background: #E6E6E6;
	border-left: 1px solid #fff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	margin-bottom: 1px;
	text-align: center;
	width: 25%;
}
.category #tab-box li a{
	color: #3e3d43;
	display: block;
	font-size: 18px;
	line-height: 3.2;
}
.category #tab-box li a:hover{
	background: #B3B3B3;
}




/** bookshop -书坊-
**********************************************************************/
.bookshop .pure-g>div h2{
	text-align: center;
}

.bookshop .showcase-1{
	padding:10px;
}

.bookshop .indexcase-1 li{
	line-height: 2.2;
}
.bookshop .indexcase-1 li:last-child{
	border-bottom: none;
}

.bookshop .genre div{
  padding:0 0.3%;
}
.bookshop .genre a.btn{
  font-size:1.6rem;
}





/**  ranking -排行榜-
**********************************************************************/
.ranking .pure-g h3{
	text-align: center;
}

.ranking ol{
	counter-reset: ranking;
}
.ranking li{
	border-bottom: 1px solid #ddd;
	position: relative;
}
.ranking li:last-child{
	border-bottom: none;
}
.ranking li>a{
	display: block;
	float: right;
}

.ranking li cite{
}
.ranking li cite a{
	color: #3E3D43;
	font-size: 1.4rem;
}
.ranking li:first-child cite a{
	font-size: 1.8rem;
}
.ranking li:first-child dl,
.ranking li:first-child dt,
.ranking li:first-child dd{
	color: #808080;
	margin: 0;
	padding: 0;
}

.ranking li cite::before{
	background: #bdbcb5;
	color: #FFF;
	content: counter(ranking);
	counter-increment: ranking;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-right: 0.75rem;
	padding-top: 1px;
	text-align: center;
	width: 20px;
}
.ranking li:nth-of-type(1) cite::before{
	background: #E53B5B;
	content: "NO."counter(ranking);
	font-size: 1.8rem;
	width: 5rem;
}
.ranking li:nth-of-type(2) cite::before{
	background: #ff7bac;
}
.ranking li:nth-of-type(3) cite::before{
	background: #cc9999;
}

.ranking li i{
	background: #FFF;
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	line-height: 1.0;
	position: absolute;
	top: 1.2rem;
	right: 0;
}




/**  bookunit -完本-
**********************************************************************/
.bookunit .pure-g>div h2{
	text-align: center;
}

.bookunit .showcase-1{
  padding:12px 12px 0;
}
.bookunit .showcase-1 dt{
	margin-bottom: 0.75rem;
}
.bookunit .showcase-1 dd{
	margin-bottom: 0.5rem;
}
.bookunit .showcase-1 dd b{
	color: #E53B5B;
}
.bookunit .showcase-1 dd button{
	background: #E53B5B;
	border: none;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	color: #FFF;
	padding: 0 2rem;
}




/**  ranking-boy -男生-
**********************************************************************/
.ranking-boy .showcase-1>a img{
	margin: 15px;
}
.ranking-boy .showcase-1>dl{
	margin-top: 15px;
	margin-left: 15px;
}
.ranking-boy .showcase-1>dl dt{
	margin-bottom: 1.5rem;
}
.ranking-boy section h3{
	text-align: center;
}


.ranking-2 ol{
	counter-reset: ranking;
}
.ranking-2 li{
	border-bottom: 1px solid #ddd;
	position: relative;
}
.ranking-2 li:last-child{
	border-bottom: none;
}
.ranking-2 li b,
.ranking-2 li cite{
	display: inline-block;
	line-height: 3.0;
}
.ranking-2 li b::before{
	background: #bdbcb5;
	color: #FFF;
	content: counter(ranking);
	counter-increment: ranking;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-right: 0.75rem;
	padding-top: 1px;
	text-align: center;
	width: 20px;
}
.ranking-2 li:nth-of-type(1) b::before{
	background: #E53B5B;
}
.ranking-2 li:nth-of-type(2) b::before{
	background: #ff7bac;
}
.ranking-2 li:nth-of-type(3) b::before{
	background: #cc9999;
}

.ranking-2 li cite a{
	color: #3E3D43;
	font-size: 1.4rem;
}

.ranking-2 li i{
	background: #FFF;
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	line-height: 1.0;
	position: absolute;
	top: 1.6rem;
	right: 0;
}




/**  .showbook -作品-
**********************************************************************/
.showbook h1{
	line-height:1.0;
	margin-bottom:1px;
	margin-top:38px;
}
.showbook p.author{
	vertical-align:top;
	margin-bottom:48px;
}
.showbook p.author a{
	font-size:1.8rem;
}
.showbook .bookcard{
	border-top:5px solid #b3b3b3;
	padding-top:15px;
}
.showbook .bookcard a{
	display:block;
	float:left;
	margin-right:15px;
}
.showbook ul li.pure-u-sm-1-2{
	box-sizing:border-box;
	margin-bottom:5px;
	padding:0 0px 0 5px;
}

.showbook .pure-menu,
.showbook .pure-menu-horizontal,
.showbook .pure-menu-scrollable{
  padding-top:0;
}

.showbook .pure-menu{
	border-top:1px solid #b3b3b3;
	margin-top:10rem;
	width:100%;
}
.showbook .pure-menu-item{
	border-top:4px solid #fff;
}
.showbook .pure-menu-item:hover{
	border-top:4px solid #e53b5b;
	color:#808080;
}
.showbook .pure-menu-item a{
	color:#b3b3b3;
	display:block;
	font-family:serif;
	font-size:1.6rem;
	padding:1rem 4.5rem;
}
.showbook .pure-menu-selected{
	border-top:4px solid #3e3d43;
}
.showbook .pure-menu-selected a{
	color:#3e3d43;
}

.showbook section{
	border-bottom: 1px solid #ddd;
	padding-bottom:5rem;
	padding-top:5rem;
}
.showbook section h2{
	border-bottom: none;
}
.showbook section p,
.showbook section dl{
	margin:2.5rem 0 0;
	padding:0;
}

.showbook .update{
	color: #e53b5b;
}
.showbook .update strong::before{
	content: "[";
	display: inline-block;
	margin-left: 3px;
}
.showbook .update strong::after{
	content: "]";
	display: inline-block;
	margin-right: 3px;
}
.showbook .update strong{
	color: #3e3d43;
}

.showbook .bookcredit{
	width:100%;
}
.showbook .bookcredit::after{
	content:"";
	display:block;
	clear:both;
}
.showbook .bookcredit dt,
.showbook .bookcredit dd{
	float:left;
	font-size:1.4rem;
	line-height:2.0;
}
.showbook .bookcredit dt{
	clear:left;
	width:25%;
}
.showbook .bookcredit dt::after{
	border-top:1px dotted #808080;
	content:" ";
	display:block;
	margin-top:-14px;
}
.showbook .bookcredit dt span{
	background:#fff;
}
.showbook .bookcredit dd{
	width:75%;
}

.showbook .bookindex li{
	border-bottom:1px solid #dddddd;
	font-size:1.3rem;
	line-height:2.5;
}
.showbook .bookindex li a{
	display:block;
}
.showbook .bookindex li a:hover{
	background:#f7f5f0;
}
.showbook .linkbtn button{
	background:#ddd;
	border:1px solid #fff;
	color:#3e3d43;
	margin:0 0 1px;
	padding:15px;
}
.showbook .linkbtn button:hover{
	background: #BDBCB5;
}
.showbook .linkbtn button span{
	color:#e53b5b;
	display:block;
	font-size:1.3rem;
}

/* slick */
.multiple-items{
	margin: 1rem auto 2rem;
}
.multiple-items div{
  padding-left:20px;
}
.multiple-items div>a{
	display: block;
	margin: 2.5rem auto;
	text-align: center;
}
.multiple-items div>a img{
	margin: auto;
	text-align: center;
}
.multiple-items div cite{
	font-size:1.6rem;
}
.multiple-items div b{
	font-weight:normal;
}
.multiple-items div cite a,
.multiple-items div b a{
	color:#3e3d43;
}
.multiple-items div p{
	margin-top:0;
}
.multiple-items .slick-prev,
.multiple-items .slick-next{
	background: #EEE;
}

.showbook h3 span{
	display:block;
	float:right;
	font-size:1.4rem;
	margin-top:15px;
}

.showbook .showcase-3>a,
.showbook .showcase-3>dl{
  float:right;
}
.showbook .showcase-3>a{
  margin:15px 0;
  text-align:right;
  width:90px;
}
.showbook .showcase-3>a img{
  height:auto;
  width:84px;
}
.showbook .showcase-3>dl{
  margin:15px -90px 15px 0px;
  width:100%;
}
.showbook .showcase-3>dl dt,
.showbook .showcase-3>dl dd{
  margin-left:0;
  padding-left:0;
  padding-right:90px;
}
.showbook .showcase-3>dl dt a{
	color:#3e3d43;
}

.showbook .indexcase-2 li{
	margin-bottom:3.0rem;
}
.showbook .indexcase-2 li p{
	margin-top:0;
}

.showbook .pure-table{
	border:none;
	width:100%;
}
.showbook .pure-table th{
	white-space:nowrap;
}
.showbook .pure-table td{
	text-align:center;
}
.showbook .pure-table tr td:nth-child(2){
	text-align:left;
}
.forumindex .pure-u-1-8,
.forumindex .pure-u-7-8{
	border-top:dotted #ddd 1px;
	padding-bottom:0.75rem;
	padding-top:0.75rem;
	position:relative;
}
.forumdetail>div:nth-child(1),
.forumdetail>div:nth-child(2){
	background:#f5f5f5;
}
.forumindex .pure-u-1-8 {
	padding-left:0;
	padding-right:0;
}
.forumindex .pure-u-1-8 img{
	border-radius:50%;
	height:auto;
	width:70px;
}

.forumindex .pure-u-7-8 p{
	color:#999;
	line-height:1.8;
	margin-top:0;
}
.forumindex .pure-u-7-8 .forumtitle{}
.forumindex .pure-u-7-8 .forumexcerpt{}
.forumindex .pure-u-7-8 .updateinfo{
	font-size:1.3rem;
	margin-top:1.5rem;
	text-align:right;
}
.forumindex .pure-form{
	margin-top:5rem;
}
.forumindex .pure-form legend{
	border-bottom:none;font-size:1.8rem;
}
.forumindex .pure-form textarea{
  border-radius:0px;
  height:55px;
	margin-bottom:0.5rem;
}
.forumindex .pure-form button{
	font-size:1.4rem;
	line-height:3;
}
.forumindex .pure-form button:hover{
	background:#dddddd;
}
.forumindex .pure-form .pure-u-sm-1-8{
	padding-left:0;
	padding-right:0;
	text-align:right;
}
.forumindex .pure-form .pure-u-sm-1-8 img{
	border-radius:50%;
}




/** authorindex -作者-
**********************************************************************/
.authorindex .author-header{
	background:#f2f2f2;
	text-align:center;
}
.authorindex .author-header h1 span{
	background:#e53b5b;
	color:#fff;
	font-size:1.0rem;
	padding:2px 4px;
	position:relative;
	bottom:2px;
}
.authorindex .author-header h1 img{
	border-radius:50%;
	display:block;
	margin:0 auto;
}
.authorindex .author-header .level{
	margin-bottom:4rem;
}
.authorindex .author-header .level span{
	border-bottom:2px solid #808080;
}
.authorindex .author-introduction{
	margin-top:8rem;
}

.authorindex .pure-menu{
	border-top:1px solid #b3b3b3;
	margin-top:8rem;
	width:100%;
}
.authorindex .pure-menu-item{
	border-top:4px solid #fff;
}
.authorindex .pure-menu-item:hover{
	border-top:4px solid #e53b5b;
	color:#808080;
}
.authorindex .pure-menu-item a{
	color:#b3b3b3;
	display:block;
	font-family:serif;
	font-size:1.6rem;
	padding:1rem 4.5rem;
}
.authorindex .pure-menu-selected{
	border-top:4px solid #3e3d43;
}
.authorindex .pure-menu-selected a{
	color:#3e3d43;
}
.authorindex section{
	padding-bottom:5rem;
	padding-top:5rem;
}
.authorindex section h2{
	border-bottom: none;
}



/** freeindex -限免频道-
**********************************************************************/
.freeindex .showcase-1{
  padding:12px 12px 0;
}
.freeindex .showcase-1>a{
}
.freeindex .showcase-1 dl{
}
.freeindex .showcase-1 dt{
	margin-bottom:15px;
}

.freeindex #tab-box{
	margin-top:25px;
}
.freeindex .pure-u-1-2 p{
	border-top:1px solid #ddd;
	padding-top:1.0rem;
}
.freeindex .pure-u-1-2 p span{
	color:#e53b5b;
	margin-left:0.75rem;
}




/** bookshelf -最近阅读-
**********************************************************************/
.bookshelf .pure-form{
	margin:0 auto 5rem;
	position:relative;
	width:50%;
}
.bookshelf .pure-form .search-input{
	background: #fff;
	border: 1px solid #ddd;
	border-radius:0;
	box-shadow:none;
	height: 41px;
	line-height: 41px;
	width:100%;
}
.bookshelf button.search-button{
	background:#e53b5b;
	border:none;
	color:#fff;
	font-size:1.6rem;
	line-height: 1.6;
	margin:0;
	padding:8px 15px;
	position:absolute;
	top:-0px;
	right:0;
	text-align:center;
	width:44px;
}



/** topindex -首页-
**********************************************************************/
.topindex .showcase-3 cite a{
	color:#3e3d43;
	font-size:1.8rem;
}
.topindex .indexcase-1 li{
	font-size:1.4rem;
	line-height:1.95;
}
.topindex .indexcase-1 li a{
	padding-left:3px;
}

.topindex .showcase-1{
  padding:12px 12px 0;
}
.topindex .showcase-1 a img{
  margin-bottom:12px;
}
.topindex .showcase-1 dl{
  margin-bottom:12px;
}
.topindex .showcase-1 dt cite a{
	font-size:1.6rem;
}

.topindex .showcase-3{
	margin-bottom:1.5rem;
}

.topindex .indexcase-2 {
	margin-bottom:3rem;
}
.topindex .indexcase-2 li{
	line-height:2.0;
}

.topindex .indexcase-1 li{
	position:relative;
}
.topindex .indexcase-1 b,
.topindex .indexcase-1 cite,
.topindex .indexcase-1 i{
	display:inline-block;
	line-height:2.5;
}
.topindex .indexcase-1 i{
	font-size:1.3rem;
	font-style:normal;
	position:absolute;
	top:3px;
	right:0;
}
.topindex .indexcase-1 b a{
	color:#808080;
	font-weight:normal;
}
.topindex .indexcase-1 cite a{
	color:#3e3d43;
}
.topindex .indexcase-1 i a{
	color:#b3b3b3;
}



/**  login-登录-
**********************************************************************/
.login .loginform{
	margin:0 auto;
	width:50%;
}
.login .loginform .pure-form fieldset{
	width:100%;
}

.login .loginform h2{
	text-align:center;
	border-bottom:none;
	color:#b3b3b3;
	font-size:1.4rem;
	font-weight:normal;
}
.login .loginform h2::before,
.login .loginform h2::after{
	background-color:#ddd;
	content:" ";
	display:inline-block;
	height:1px;
	margin:0 5px 0 0;
	vertical-align:middle;
	width:41%;
}


.login .snslogin{
	display:-webkit-flex;/*--- safari（PC）用 ---*/
	display:flex;
	-webkit-justify-content:flex-start;/*--- safari（PC）用 ---*/
	justify-content:space-between;
	padding:0 15px;
	width:100%;
}
.login .snslogin li{
	-webkit-flex-basis:36px;/*--- safari（PC）用 ---*/
	flex-basis:36px;
}
.login .snslogin li span{
	background-color: #DDD;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	display: inline-block;
	height: 35px;
	width: 35px;
}
.qq{}
.sina{}
.alipay{}
.baidu{}



/**  footer
**********************************************************************/
footer{
	background: #F2F2F2;
	border-top: 1px solid #ddd;
	padding-top: 2rem;
}

footer #siteLogo::before{
	content:none;
}

footer #siteLogo::after{
	background: #E53B5B;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	content: " ";
	display: inline-block;
	height: 52px;
	margin-left: 5px;
	width: 68px;
	vertical-align: bottom;
}
footer li.pure-u-1-3 a.pure-button{
	font-size:1.4rem;
	line-height:1.7;
}
footer li.pure-u-1-3 a.pure-button:hover{
	background:#ddd;
}
footer .pure-form .search-input{
	box-shadow: none;
	border: 1px solid #dddddd;
	border-radius: 0;
	font-size: 1.6rem;
	height:38px;
	line-height: 1.6;
	width: 55%;
}

footer .pure-u-3-4 .pure-button{
	background: #E53B5B;
	border-radius: 0px;
	color: #FFF;
	font-size: 1.6rem;
	height:38px;
	line-height: 1.6;
	width:44px;
}

footer .pure-u-1{
	margin-top: 2rem;
}
footer .pure-u-1 .text-center span{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}



/** sb-search -fixed-nav-search-
**********************************************************************/
.sb-search {
	height: 30px;
	margin-top: 7px;
	min-width: 30px;
/*	float: right;*/
	overflow: hidden;
	position: relative;
	-webkit-transition: width 0.3s;
	   -moz-transition: width 0.3s;
	        transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	width: 0%;
}

.sb-search-input {
	background: #fff;
	border: none;
	color: #e53b5b;
	font-family: inherit;
	font-size: 1.4rem;
	height: 30px;
	margin: 0;
	outline: none;
	padding: 0px 15px 0px 15px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.sb-search-input::-webkit-input-placeholder {
	color: #e53b5b;
}

.sb-search-input:-moz-placeholder {
	color: #e53b5b;
}

.sb-search-input::-moz-placeholder {
	color: #e53b5b;
}

.sb-search-input:-ms-input-placeholder {
	color: #e53b5b;
}

.sb-icon-search,
.sb-search-submit {
	bottom: 0;
	cursor: pointer;
	display: block;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 30px;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	filter: alpha(opacity=0); /* IE 5-7 */
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	background: #e53b5b;
	color: #fff;
	content: none;
	font-family: 'FontAwesome';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	z-index: 90;
}

.sb-icon-search:before {
	content: "\f002";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 40%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #e53b5b;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}


/** Slick Slide
**********************************************************************/




/** media::
**********************************************************************/
@media screen and (max-width: 1160px) {

header #siteLogo{
	font-size:1.0rem;
	margin:9px 0 0 0;
}
header form{
	background:#fff;
	box-sizing:border-box;
	margin:16px 0 0 0;
	padding:0 8px 0 0px;
	position:relative;
}
header .search-input{
	float:right;
	height:36px;
	line-height:36px;
	margin:0;
}
header .search-button{
	position:absolute;
	top:0;
	right:8px;
	height:36px;
}
header ul{
	margin:13px 0 0 0;
}
header li a{
	display:inline;
	padding:10px 8px;
}

.global-nav-1>li a{
	padding:0 2.2rem;
}

.group-nav02{
	position:absolute;
	top:48px;
	right:10px;
	z-index:2000;
}

.login-mypage{
	padding-left:0;
}
.login-mypage a,
.login-link a{
	background-color:rgba(255,255,255,0.2);
	border:1px solid #b3b3b3;
	color:#b3b3b3;
	height:35px;
	line-height:35px;
	padding:0 1.5rem;
}

.login-link a{
	margin:0 0.2rem 0 0;
}
.login-mypage a:hover,
.login-link a:hover{
	background:#e53b5b;
	color:#fff;
}
.login-link::before,
.login-link::after{
	display:none;
}

.fixed{
	overflow:visible;
}
#sb-search{
	display:none;
}

.topindex .indexcase-1 li i{
	position:relative;
	top:0;
}

.topindex .ranking-2 li b,
.topindex .ranking-2 li cite{
	line-height:1.6;
}
.topindex .ranking-2 li i{
	line-height:1.6;
	margin-bottom:0.5rem;
	position:relative;
	text-align:right;
	top:0;
}

} /* media */

@media screen and (max-width: 480px) {
  header .pure-g{
    overflow:hidden;
  }
  header .pure-g .pure-u-3-5,
  header .pure-g .pure-u-1-5{
    width:100%;
  }
  header .pure-g .pure-u-3-5{
    display:none;
  }
  header .pure-g #siteLogo{
    width:50%;
  }
  header .pure-g ul.pure-u-1-5{
    float:right;
    text-align:right;
    width:49%;
  }
  header .pure-g ul.pure-u-1-5 li{
    display:inline;
    text-align:right;
  }
  header .pure-g ul.pure-u-1-5 li a{
    display:inline;
  }


  .global .global-nav-1 li,
  .global .global-nav-1 li a{
    font-size:1.3rem;
    height:33px;
    line-height:33px;
    width:auto;
  }
  .global .global-nav-1 .category-list{
    background:#3e3d43;
    width:300px;
  }
  .fixed .global-nav-2-fixed{
    display: none;
  }

  footer .pure-g .pure-u-1-4,
  footer .pure-g .pure-u-3-4{
    width:100%;
  }
  footer ul.pure-g{
    margin:0 auto 2.0rem;
  }
  footer li.pure-u-1-3{
    margin:0;
    padding:0;
    text-align:center;
  }
  footer li.pure-u-1-3 a.pure-button{
    width:98%;
  }


  footer .pure-g .pure-u-3-4 .pure-form{
    position:relative;
    width:100%;
  }
  footer .pure-g .pure-u-3-4 .pure-form .search-input{
    width:100%;
  }
  footer .pure-g .pure-u-3-4 .pure-form .search-button{
    margin:0;
    position:absolute;
    right:0;
    top:0;
  }
  footer .pure-u-1 .text-center span{
    padding-left:0.5rem;
    padding-right:0.5rem;
  }

  .category #tab-box h3{
    line-height:1.5;
  }
  .category #tab-box h3 span{
    display:block;
  }
  .category #tab-box li{
  font-size:1.0rem;
	width: 50%;
  }
  .category #tab-box li a{
  font-size:1.4rem;
  }

  .bookcard{
    margin-bottom:1.5rem;
  }
  .showbook li a.btn{
  font-size:1.2rem;
    margin-right:2px;
  }

  #sort-nav span{
	margin-left:1.15rem;
	margin-right:1.15rem;
	}
  .forumindex .pure-u-1-8{
    text-align:center;
  }
  .forumindex .pure-u-1-8 img{
  	height:auto;
    margin:0 auto;
    width:38px;
  }
  .showbook #sort-nav span{
  	margin-left:0.65rem;
    margin-right:0.65rem;
  }

  .login .loginform{
    width:80%;
  }

  .bookshelf #tab-menu {
  }
  .bookshelf #tab-menu div {
    margin-bottom:0;
  }
  .bookshelf #tab-menu div p{
    font-size:1.6rem;
    line-height:1.8;
    margin-bottom:0;
  }
  .bookshelf #tab-menu div p:hover{
    background:rgba(100,100,100,0.15);
  }
  .bookshelf #tab-menu div.active p{
    background:rgba(299,59,91,0.2);
  }
  .bookshelf #tab-menu div.active p::after{
    border:none;
    border-top:none;
    content:none;
  }
  .bookshelf .pure-form{
    width:80%;
  }
  .showbook ul.pure-g{
  	padding:0;
  	margin:0;
  }
  .showbook ul li.pure-u-1-4{
  	margin:0;
  	padding: 0;
  }
  .showbook ul li.pure-u-sm-1-2{
	margin:0;
	padding:0 0 0 0%;
}


}/* media */

